<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-uva-heading" data-cy="UvaCreateUpdateHeading" jhiTranslate="ingenieriaSoftwareAplicadaApp.uva.home.createOrEditLabel">
        Crear o editar Uva
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="ingenieriaSoftwareAplicadaApp.uva.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let phRef = editForm.get('ph')!;
        <div class="mb-3">
          <label class="form-label" for="field_ph" jhiTranslate="ingenieriaSoftwareAplicadaApp.uva.ph">Ph</label>
          <input type="number" class="form-control" name="ph" id="field_ph" data-cy="ph" formControlName="ph" />
          @if (phRef.invalid && (phRef.dirty || phRef.touched)) {
            <div>
              @if (editForm.get('ph')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
              <small class="form-text text-danger" [hidden]="!editForm.get('ph')?.errors?.number" jhiTranslate="entity.validation.number"
                >Este campo debe ser un número.</small
              >
            </div>
          }
        </div>

        @let acidezRef = editForm.get('acidez')!;
        <div class="mb-3">
          <label class="form-label" for="field_acidez" jhiTranslate="ingenieriaSoftwareAplicadaApp.uva.acidez">Acidez</label>
          <input type="number" class="form-control" name="acidez" id="field_acidez" data-cy="acidez" formControlName="acidez" />
          @if (acidezRef.invalid && (acidezRef.dirty || acidezRef.touched)) {
            <div>
              @if (editForm.get('acidez')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('acidez')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >Este campo debe ser un número.</small
              >
            </div>
          }
        </div>

        @let brixRef = editForm.get('brix')!;
        <div class="mb-3">
          <label class="form-label" for="field_brix" jhiTranslate="ingenieriaSoftwareAplicadaApp.uva.brix">Brix</label>
          <input type="number" class="form-control" name="brix" id="field_brix" data-cy="brix" formControlName="brix" />
          @if (brixRef.invalid && (brixRef.dirty || brixRef.touched)) {
            <div>
              @if (editForm.get('brix')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
              <small class="form-text text-danger" [hidden]="!editForm.get('brix')?.errors?.number" jhiTranslate="entity.validation.number"
                >Este campo debe ser un número.</small
              >
            </div>
          }
        </div>

        @let variedadRef = editForm.get('variedad')!;
        <div class="mb-3">
          <label class="form-label" for="field_variedad" jhiTranslate="ingenieriaSoftwareAplicadaApp.uva.variedad">Variedad</label>
          <input type="text" class="form-control" name="variedad" id="field_variedad" data-cy="variedad" formControlName="variedad" />
          @if (variedadRef.invalid && (variedadRef.dirty || variedadRef.touched)) {
            <div>
              @if (editForm.get('variedad')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
            </div>
          }
        </div>

        @let viniedoRef = editForm.get('viniedo')!;
        <div class="mb-3">
          <label class="form-label" for="field_viniedo" jhiTranslate="ingenieriaSoftwareAplicadaApp.uva.viniedo">Viniedo</label>
          <input type="text" class="form-control" name="viniedo" id="field_viniedo" data-cy="viniedo" formControlName="viniedo" />
          @if (viniedoRef.invalid && (viniedoRef.dirty || viniedoRef.touched)) {
            <div>
              @if (editForm.get('viniedo')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
            </div>
          }
        </div>

        @let cantidadRef = editForm.get('cantidad')!;
        <div class="mb-3">
          <label class="form-label" for="field_cantidad" jhiTranslate="ingenieriaSoftwareAplicadaApp.uva.cantidad">Cantidad</label>
          <input type="number" class="form-control" name="cantidad" id="field_cantidad" data-cy="cantidad" formControlName="cantidad" />
          @if (cantidadRef.invalid && (cantidadRef.dirty || cantidadRef.touched)) {
            <div>
              @if (editForm.get('cantidad')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('cantidad')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >Este campo debe ser un número.</small
              >
            </div>
          }
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
